 ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, div.paragraph, blockquote, fieldset, input { margin: 0; padding: 0; }
 ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input { margin: 0; padding: 0; }
 a img { border: 0; }
 a { text-decoration: none; }
 body { font-family: 'Open Sans', Helvetica, sans-serif; background:#242424; }
 .container { margin: 0 auto; width: 960px; }
 #header-wrap, #banner-wrap, #nav-wrap, #main-wrap, #footer-wrap, #total-wrap { width:100%; min-width:960px; }
 #header-wrap, #banner-wrap, #main-wrap, #footer-wrap, #total-wrap { background:#fff; }
 div.paragraph a, h2 a, .blog-comments-bottom a { color: #6293ad; border-bottom:1px solid #c0d1db; }
 p a, h2 a, .blog-comments-bottom a { color: #6293ad; border-bottom:1px solid #c0d1db; }
 div.paragraph a:hover, h2 a:hover, .blog-comments-bottom a:hover { color: #3a7493; border-bottom:1px solid #8fb2c5; }
 p a:hover, h2 a:hover, .blog-comments-bottom a:hover { color: #3a7493; border-bottom:1px solid #8fb2c5; }
 blockquote { font-style:italic; border-left:4px solid #92b4c6; margin:10px 0 10px 0; padding-left:20px; line-height:1.8; font-size:13px; color:#999; }
 h2 { font-size:17px ; padding: .5em 0 0.8em 0; letter-spacing:1px; line-height: 1.2; font-weight:600; color: #373737; }
 h2 a { color: #373737; }
 div.paragraph { font-size: 13px; line-height: 180%; color:#464646; padding: .5em 0; }
 p { font-size: 13px; line-height: 180%; color:#464646; padding: .5em 0; }
 #wsite-content { min-height:500px; }
 .top-background { background:#92b4c6; width:100%; height:500px; min-width:960px; }
 .cross { width:700px; height:500px; background:url(theme/cross.png?1413180836) no-repeat; position:absolute; left:50%; margin-left:-350px; z-index:0; }
 #header-wrap {}
 #logo, #logo a { color:#fff; font:500 50px 'Open Sans', sans-serif; text-transform:uppercase; letter-spacing:5px; z-index:2; position:relative; }
 #logo a:hover {}
 #header { border-collapse: collapse; border-spacing: 0; width:100%; float:left; height:40px; margin-top:5px; position:relative; z-index:4; }
 #header td { vertical-align: middle; text-align: left; }
 #logo { text-align:center; }
 #header-right {}
 #header-right table { float: right; width: 1px; }
 #header-right td { padding: 0; }
 .header-align-outer { display: table; #position: relative; overflow: hidden; height:485px; padding-bottom:15px; }
 .header-align-mid { #position: absolute; #top: 50%; display: table-cell; vertical-align: middle; }
 .header-align-inner { #position: relative; #top: -50%; }
 #header-right .phone-number .wsite-text { color: #fff; font-size: 14px; font-weight: 600; display: block; white-space: nowrap; }
 #header-right .phone-number .wsite-text a {}
 #header-right .phone-number .wsite-text a:hover {}
 .wsite-social-item { width: 23px; height: 23px; margin: 0 0 0 3px; background-image:url(theme/social-light.png?1413180836); }
 #footer-wrap .wsite-social-item { background-image:url(theme/social-black.png?1413180836); }
 .wsite-social-facebook {background-position:0 0;}
 .wsite-social-facebook:hover {background-position:0 -23px;}
 .wsite-social-facebook:active {background-position:0 -46px;}
 .wsite-social-pinterest {background-position:-23px 0;}
 .wsite-social-pinterest:hover {background-position:-23px -23px;}
 .wsite-social-pinterest:active {background-position:-23px -46px;}
 .wsite-social-twitter {background-position:-46px 0;}
 .wsite-social-twitter:hover {background-position:-46px -23px;}
 .wsite-social-twitter:active {background-position:-46px -46px;}
 .wsite-social-linkedin {background-position:-69px 0;}
 .wsite-social-linkedin:hover {background-position:-69px -23px;}
 .wsite-social-linkedin:active {background-position:-69px -46px;}
 .wsite-social-mail {background-position:-92px 0;}
 .wsite-social-mail:hover {background-position:-92px -23px;}
 .wsite-social-mail:active {background-position:-92px -46px;}
 .wsite-social-rss {background-position:-115px 0;}
 .wsite-social-rss:hover {background-position:-115px -23px;}
 .wsite-social-rss:active {background-position:-115px -46px;}
 .wsite-social-flickr {background-position:-138px 0;}
 .wsite-social-flickr:hover {background-position:-138px -23px;}
 .wsite-social-flickr:active {background-position:-138px -46px;}
 .wsite-social-plus {background-position:-161px 0;}
 .wsite-social-plus:hover {background-position:-161px -23px;}
 .wsite-social-plus:active {background-position:-161px -46px;}
 .wsite-social-vimeo {background-position:-184px 0;}
 .wsite-social-vimeo:hover {background-position:-184px -23px;}
 .wsite-social-vimeo:active {background-position:-184px -46px;}
 .wsite-social-yahoo {background-position:-207px 0;}
 .wsite-social-yahoo:hover {background-position:-207px -23px;}
 .wsite-social-yahoo:active {background-position:-207px -46px;}
 .wsite-social-youtube {background-position:-230px 0;}
 .wsite-social-youtube:hover {background-position:-230px -23px;}
 .wsite-social-youtube:active {background-position:-230px -46px;}
 #header-right .wsite-social { vertical-align: middle; margin-left:10px ; }
 #header-right .wsite-social-item { width: 32px; height: 32px; margin: 0 0 0 3px; background-image:url(theme/social.png?1413180836); -webkit-transition: background 0.5s ease-out; -moz-transition: background 0.5s ease-out; -o-transition: background 0.5s ease-out; transition: background 0.5s ease-out; }
 #header-right .wsite-social-rss {background-position:-158px 0;}
 #header-right .wsite-social-linkedin {background-position:-79px 0;}
 #header-right .wsite-social-facebook {background-position:0px 0; }
 #header-right .wsite-social-twitter {background-position:-40px 0;}
 #header-right .wsite-social-mail {background-position:-119px 0;}
 #header-right .wsite-social-pinterest {background-position:-277px 0;}
 #header-right .wsite-social-youtube {background-position:-395px 0;}
 #header-right .wsite-social-plus {background-position:-237px 0;}
 #header-right .wsite-social-flickr {background-position:-198px 0;}
 #header-right .wsite-social-vimeo {background-position:-316px 0;}
 #header-right .wsite-social-yahoo {background-position:-356px 0;}
 #header-right .wsite-social-rss:hover {background-position:-158px -40px;}
 #header-right .wsite-social-linkedin:hover {background-position:-79px -40px;}
 #header-right .wsite-social-facebook:hover {background-position:0px -40px; }
 #header-right .wsite-social-twitter:hover {background-position:-40px -40px;}
 #header-right .wsite-social-mail:hover {background-position:-119px -40px;}
 #header-right .wsite-social-pinterest:hover {background-position:-277px -40px;}
 #header-right .wsite-social-youtube:hover {background-position:-395px -40px;}
 #header-right .wsite-social-plus:hover {background-position:-237px -40px;}
 #header-right .wsite-social-flickr:hover {background-position:-198px -40px;}
 #header-right .wsite-social-vimeo:hover {background-position:-316px -40px;}
 #header-right .wsite-social-yahoo:hover {background-position:-356px -40px;}
 #header-right .search {}
 #header-right .wsite-search { margin-left:15px; vertical-align: middle; }
 #header-right .wsite-search-input { width: 200px; border:0 ; line-height:20px; height:20px; border-radius:4px; font-family: ; color: #fff; font-size: ; background:url(theme/opaque-white.png?1413180836); }
 #header-right .wsite-search-button { position: absolute; width: 13px; height: 13px; top:7px; right:7px; background:url(theme/search.png?1413180836) no-repeat ; }
 #nav-wrap {position:absolute; top:0;}
 #nav-wrap .nav-container { float:right; position:relative; left:-50%; text-align:left; margin-top:10px; z-index:2; }
 #nav-wrap .nav-container ul{ list-style:none; position:relative; left:50%; z-index:2; }
 #nav-wrap .nav-container li{float:left;position:relative;}
 #nav-wrap .nav-container a{ text-decoration:none; font:bold 18px 'Josefin Sans', sans-serif; text-transform:uppercase; margin:10px 15px; float:left; color:#fff; padding:1px 2px; text-align:center; white-space:nowrap; }
 #nav-wrap .nav-container a:hover{border-bottom:1px dashed #fff; padding-bottom:0;}
 #nav-wrap .nav-container li#active a {border-bottom:1px solid #fff; padding-bottom:0;}
 #nav-wrap {overflow:hidden}
 #wsite-menus .wsite-menu { background:#fff; border-bottom:0; }
 #wsite-menus .wsite-menu li { border:none; }
 #wsite-menus .wsite-menu li a { border-left:none; border-right:none; }
 #wsite-menus .wsite-menu li a:hover { color: #6293ad; background:#fff ; }
 #main-wrap .container { padding:50px 0; }
 .blog-post .blog-separator {display:none;}
 .blog-post .blog-header { margin-bottom:20px !important; }
 .blog-sidebar h2 { padding:1em 0 .3em; }
 .blog-sidebar h2.blog-author-title { padding:0 0 0.3em; }
 h2.blog-title, .blog-post .blog-header h2.blog-title {padding-bottom:5px !important;}
 h2.blog-title a, .blog-post .blog-header h2.blog-title a { border:none;}
 #banner-wrap { background:#f2f2f2; padding:30px 0; }
 .tall-header-page #banner {}
 .tall-header-page .wsite-header { width: 960px; height: 300px; background: url(theme/banner-tall.jpg?1413180836) no-repeat; }
 .short-header-page #banner {}
 .short-header-page .wsite-header { width: 960px; height: 200px; background: url(theme/banner-short.jpg?1413180836) no-repeat; }
 .no-header-page .wsite-header { display:none; }
 .landing-page #banner { padding: 0; }
 #bannerleft { float: right; width: 400px; }
 .landing-page .wsite-header { width: 400px; height: 300px; background: url(theme/banner-landing.jpg?1413180836) no-repeat; }
 #bannerright { float:left ; width: 500px; height: 300px; }
 #bannerright h2 { font-size:24px; font-weight:300; padding: 0px; line-height: 24px; }
 #bannerright div.paragraph { padding: 20px 0px; line-height: 140%; }
 #bannerright p { padding: 20px 0px; line-height: 140%; }
 #bannerright .wsite-button {}
 .landing-banner-outer { display: table; #position: relative; overflow: hidden; }
 .landing-banner-mid { #position: absolute; #top: 50%; display: table-cell; vertical-align: middle; }
 .landing-banner-inner { #position: relative; #top: -50%; }
 #footer-wrap { background:#242424; padding:50px 0; color:#eee; float:left; }
 #footer-wrap .container {}
 #footer-wrap .container h2 { color: #fff; }
 #footer-wrap .container div.paragraph { color:#ccc; }
 #footer-wrap .container p { color:#ccc; }
 #footer-wrap blockquote {border-left-color:#777;}
 #footer-wrap .container .wsite-form-container { margin-top:0 !important; }
 #footer-wrap .container .weebly-footer, #footer-wrap .container .weebly-footer a, #weeblyfootertext {color:#fff; text-align:right;}
 #footer-wrap .container .weebly-footer, #weeblyfootertext {float:right; text-transform:uppercase; font-size:14px; font-weight:600;}
 #weeblyfootertext a {color#fff !important;}
 #footer-wrap .container .wsite-form-input, #footer-wrap .container .wsite-search-element-input { border:1px #333 solid; background:#222; color:#fff; }
 .wsite-form-label { display: inline-block; font-size: 14px; }
 .form-radio-container { font-size: 13px; }
 .wsite-form-input, .wsite-search-element-input { border:1px #ccc solid; background:none; border-radius:3px; padding:7px 5px !important; }
 .form-select {}
 .wsite-button { display: inline-block; padding: 7px 12px; background: #333; text-transform:uppercase; border-radius:2px; }
 .wsite-button:hover { background: #000; }
 .wsite-button:active { background: #222; }
 .wsite-button-inner { color: #fff !important; padding: 0; background: none !important; font: 500 18px 'Open Sans', sans-serif; height:auto; letter-spacing:1px; }
 .wsite-button-large { color: #fff !important; padding: 5px 20px; }
 .wsite-button-large:hover { background: #000; }
 .wsite-button-large:active { background: #222; }
 .wsite-button-large .wsite-button-inner { background: none !important; padding:0; height:auto; }
 .wsite-button-large:hover .wsite-button-inner { background: none !important; }
 .wsite-button-large:active .wsite-button-inner { background: none !important; }
 .wsite-button-highlight { background: #92b4c6; }
 .wsite-button-highlight:hover { background: #6293ad; }
 .wsite-button-highlight .wsite-button-inner { background: none; }
 .wsite-button-large .wsite-button-highlight { background: #92b4c6; }
 .wsite-button-large .wsite-button-highlight .wsite-button-inner { background: none; }
 .wsite-button-large.wsite-button-highlight { background: #92b4c6; }
 .wsite-button-large.wsite-button-highlight:hover { background: #6293ad; }
 .wsite-button-highlight:active { background: #3a7493; }
 .wsite-button-large.wsite-button-highlight:active { background: #3a7493; }

div.paragraph ul, div.paragraph ol { padding-left: 2.3em !important; margin: 5px 0 !important; overflow:hidden; }
div.paragraph li { padding-left: 5px !important; margin: 3px 0 0 !important; }
div.paragraph ul, div.paragraph ul li { list-style: disc outside !important; }
div.paragraph ol, div.paragraph ol li { list-style: decimal outside !important; }
